
*
body {background-color:  #002643;
       font-family: 'ubuntu', sans-serif;
}
  h1 {color: #E59500; }
  h2 {color: #E59500;}
  h3 {color: #E59500}
  p  {color: #E59500}
  ol {color: #E59500}
  
  .nav{
    position: fixed;  
    top: 0px;
    left: auto;
    z-index: 999; 
}
  div {
    float: left;
  }
  
  a {
    display: block;
    padding: 30px;
    background-color: #dddddd;
  }
 
  .main{
    margin-top:30px;
    }
  
    img{width:350px;height:300px}

    a{
			float: left;
			width: 130px;
			height: 100%;
			padding: 1px;
			margin-right: 0%; 
		}
